my-node-red/flows.json
[{"id":"3ef0cf7a.c10f3","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"db914075.246ec","type":"mqtt out","name":"To MQTT (test.mosquitto.org)","topic":"","qos":"0","retain":"","broker":"3ef0cf7a.c10f3","x":633.5,"y":208,"z":"6832507a.97cdb","wires":[]},{"id":"2b9f6e61.d46092","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":62.5,"y":206,"z":"6832507a.97cdb","wires":[["ed888b0f.127778","ac4dd670.53b228","33c02155.cc3fde"]]},{"id":"7f853a0b.807ac4","type":"function","name":"Build payload 4 MQTT","func":"var deviceName = context.global.deviceName ? context.global.deviceName : \"NO_NAME\";\nmsg.topic = \"/edudata/tide/\"+deviceName+\"/arduino-firstmakers\";\n\nreturn msg;","outputs":1,"valid":true,"x":433.5,"y":108,"z":"6832507a.97cdb","wires":[["db914075.246ec"]]},{"id":"2d875cf7.d278a4","type":"function","name":"Build payload 4 MQTT","func":"var data = {}\nif (msg.payload) {\n    data = {\n        \"temp\":msg.payload.celsius,\n        \"light\":msg.payload.lux\n    }\n}\nmsg.payload = data;\nvar deviceName = context.global.deviceName ? context.global.deviceName : \"NO_NAME\";\nmsg.topic = \"/edudata/tide/\"+deviceName+\"/slt\";\n\nreturn msg;","outputs":1,"valid":true,"x":414.5,"y":330,"z":"6832507a.97cdb","wires":[["db914075.246ec"]]},{"id":"ed888b0f.127778","type":"function","name":"OS Info","func":"var deviceName = context.global.deviceName ? context.global.deviceName : \"NO_NAME\";\nmsg.payload = {};\nmsg.payload.hostname = context.global.os.hostname()\nmsg.payload.type = context.global.os.type()\nmsg.payload.platform = context.global.os.platform()\nmsg.payload.arch = context.global.os.arch()\nmsg.payload.release = context.global.os.release()\nmsg.payload.uptime = context.global.os.uptime()\nmsg.payload.loadavg = context.global.os.loadavg()\nmsg.payload.totalmem = context.global.os.totalmem()\nmsg.payload.freemem = context.global.os.freemem()\n//msg.payload.cpus = context.global.os.cpus()\n//msg.payload.networkInterfaces = context.global.os.networkInterfaces()\n//msg.payload.EOL = context.global.os.EOL\nmsg.topic = \"/edudata/tide/\"+deviceName+\"/osInfo\";\n\nreturn msg;","outputs":1,"valid":true,"x":279,"y":210,"z":"6832507a.97cdb","wires":[["db914075.246ec"]]},{"id":"4cc449a.fb33bb8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":87,"y":37,"z":"6832507a.97cdb","wires":[["1762402f.e89dc"]]},{"id":"1762402f.e89dc","type":"function","name":"Device Name","func":"context.global.deviceName = context.global.DEVICE_ID ? context.global.DEVICE_ID : context.global.RESIN_DEVICE_UUID ? context.global.RESIN_DEVICE_UUID : \"NO_ID\";\nreturn msg;","outputs":1,"valid":true,"x":232,"y":37,"z":"6832507a.97cdb","wires":[[]]},{"id":"ac4dd670.53b228","type":"firstmakers","name":"","x":216,"y":108,"z":"6832507a.97cdb","wires":[["7f853a0b.807ac4"]]},{"id":"33c02155.cc3fde","type":"slt","name":"","x":196,"y":330,"z":"6832507a.97cdb","wires":[["2d875cf7.d278a4"]]}]