myNode-red/flows_raspberrypi.json
[{"id":"3ef0cf7a.c10f3","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"db914075.246ec","type":"mqtt out","name":"To MQTT (test.mosquitto.org)","topic":"","qos":"0","retain":"","broker":"3ef0cf7a.c10f3","x":633.5,"y":208,"z":"e70d4416.18f2b8","wires":[]},{"id":"2b9f6e61.d46092","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":62.5,"y":206,"z":"e70d4416.18f2b8","wires":[["74bafa25.8b4504","feca770.f013588","ed888b0f.127778"]]},{"id":"74bafa25.8b4504","type":"makers-sensor","name":"","x":195.5,"y":108,"z":"e70d4416.18f2b8","wires":[["7f853a0b.807ac4"]]},{"id":"feca770.f013588","type":"makers-slt","name":"","x":174.5,"y":330,"z":"e70d4416.18f2b8","wires":[["2d875cf7.d278a4"]]},{"id":"7f853a0b.807ac4","type":"function","name":"Build payload 4 MQTT","func":"var deviceName = context.global.deviceName ? context.global.deviceName : \"NO_NAME\";\nmsg.topic = \"/edudata/tide/\"+deviceName+\"/arduino-firstmakers\";\n\nreturn msg;","outputs":1,"valid":true,"x":433.5,"y":108,"z":"e70d4416.18f2b8","wires":[["db914075.246ec"]]},{"id":"2d875cf7.d278a4","type":"function","name":"Build payload 4 MQTT","func":"var data = {}\nif (msg.payload) {\n    data = {\n        \"temp\":msg.payload.celsius,\n        \"light\":msg.payload.lux\n    }\n}\nmsg.payload = data;\nvar deviceName = context.global.deviceName ? context.global.deviceName : \"NO_NAME\";\nmsg.topic = \"/edudata/tide/\"+deviceName+\"/slt\";\n\nreturn msg;","outputs":1,"valid":true,"x":414.5,"y":330,"z":"e70d4416.18f2b8","wires":[["db914075.246ec"]]},{"id":"ed888b0f.127778","type":"function","name":"OS Info","func":"var deviceName = context.global.deviceName ? context.global.deviceName : \"NO_NAME\";\nmsg.payload = {};\nmsg.payload.freemem = context.global.os.freemem();\nmsg.payload.totalmem = context.global.os.totalmem();\nmsg.topic = \"/edudata/tide/\"+deviceName+\"/osInfo\";\n\nreturn msg;","outputs":1,"valid":true,"x":279,"y":210,"z":"e70d4416.18f2b8","wires":[["db914075.246ec"]]},{"id":"4cc449a.fb33bb8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":87,"y":37,"z":"e70d4416.18f2b8","wires":[["1762402f.e89dc"]]},{"id":"1762402f.e89dc","type":"function","name":"Device Name","func":"context.global.deviceName = context.global.DEVICE_ID ? context.global.DEVICE_ID : context.global.RESIN_DEVICE_UUID ? context.global.RESIN_DEVICE_UUID : \"NO_ID\";\nreturn msg;","outputs":1,"valid":true,"x":232,"y":37,"z":"e70d4416.18f2b8","wires":[[]]}]